name: Maven Build Artifact

on:
  workflow_call:
    inputs:
      java-version:
        description: 'Java version'
        required: false
        default: "21"
        type: string
      java-distribution:
        description: 'Java distribution'
        required: false
        default: "temurin"
        type: string
      mvn-args:
        description: 'Additional maven args'
        required: false
        type: string
      ignore-coverage:
        description: 'Ignore test coverage step'
        default: false
        required: false
        type: boolean

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Run Build Java
        uses: valitydev/action-jdk-build@trivy
        with:
          jdk-version: ${{ inputs.java-version }}
          jdk-distribution: ${{ inputs.java-distribution }}
          mvn-args: ${{ inputs.mvn-args }}

  test-coverage:
    runs-on: ubuntu-20.04
    if: ${{ !inputs.ignore-coverage }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Run Build Java
        uses: valitydev/action-jdk-build@trivy
        with:
          jdk-version: ${{ inputs.java-version }}
          jdk-distribution: ${{ inputs.java-distribution }}
          mvn-args: ${{ inputs.mvn-args }}

      - name: Upload code coverage
        uses: codecov/codecov-action@v3

  scan:
    name: Scan with Trivy
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Trivy CLI
        run: |
          wget https://github.com/aquasecurity/trivy/releases/download/v0.39.1/trivy_0.39.1_Linux-64bit.deb
          sudo dpkg -i trivy_0.39.1_Linux-64bit.deb
      - uses: actions/download-artifact@v3
        with:
          name: bom.json
      - name: Run Trivy with SBOM
        run: trivy sbom --severity CRITICAL,HIGH --format sarif -o trivy-report.sarif ./bom.json

      - name: Upload SARIF report
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: trivy-report.sarif
