name: Maven Deploy Artifact

on:
  workflow_call:
    inputs:
      java-version:
        description: 'Java version'
        required: false
        default: "17"
        type: string
      java-distribution:
        description: 'Java distribution'
        required: false
        default: "temurin"
        type: string
      mvn-args:
        description: 'Additional maven args'
        required: false
        type: string
      ignore-coverage:
        description: 'Ignore test coverage step'
        default: false
        required: false
        type: boolean
    secrets:
      github-token:
        required: true
      mm-webhook-url:
        required: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Run Build Java
        uses: valitydev/action-jdk-build@v0.0.8
        with:
          jdk-version: ${{ inputs.java-version }}
          jdk-distribution: ${{ inputs.java-distribution }}
          mvn-args: ${{ inputs.mvn-args }}

      - name: Deploy image
        uses: valitydev/action-deploy-docker@v1.0.17
        with:
          registry-username: ${{ github.actor }}
          registry-access-token: ${{ secrets.github-token }}
          dockerfile-path: "./target/Dockerfile"

      - name: Mattermost Notification
        if: always()
        uses: rtCamp/action-slack-notify@v2.2.0
        env:
          SLACK_USERNAME: ${{ github.event.repository.name }}
          SLACK_WEBHOOK: ${{ secrets.mm-webhook-url }}
          SLACK_COLOR: ${{ job.status }}
          SLACK_LINK_NAMES: true
          SLACK_FOOTER: ""
  test-coverage:
    if: ${{ !inputs.ignore-coverage }}
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Run Build Java
        uses: valitydev/action-jdk-build@v0.0.8
        with:
          jdk-version: ${{ inputs.java-version }}
          jdk-distribution: ${{ inputs.java-distribution }}
          mvn-args: ${{ inputs.mvn-args }}

      - name: Upload code coverage
        uses: codecov/codecov-action@v2
